h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
label {
    font-family: 'McLaren';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FD6721;
}

h1 {
    font-size: 70px;
}

html {
    width: 100vw;
}

body {
    overflow-x: hidden;
    background: #043565;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        background: white;
    }
}

img {
    max-width: 100%;
}

.invalid-form {
    box-shadow: 0 0 5px 1px red;
    background-color: rgba(255, 0, 0, 0.1);
}

.invalid-form:hover {
    box-shadow: 0 0 5px 1px red;
}

.invalid-form:focus {
    outline: none;
}

.valid-form {
    box-shadow: 0 0 5px 1px green;
    background-color: rgba(0, 255, 0, 0.1);
}

.valid-form:hover {
    box-shadow: 0 0 5px 1px green;
}

.valid-form:focus {
    outline: none;
}

#background-page {
    background-color: white;
    max-width: 1200px;
}

@media only screen and (max-width: 768px) {
    #background-page {
        min-width: 100%;
        padding: 0;
        margin: 0;
    }
}

#login-page {
    background: white;
    width: 613px;
    height: 771px;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    #login-page {
        margin: 0;
    }
}

#signin-page {
    background: white;
    width: 600px;
    height: 1054px;
    margin-top: 70px;
    margin-bottom: 70px;
}

@media (max-width: 768px) {
    #signin-page {
        margin: 0;
    }
}

.no-a {
    font-size: 28px;
    font-family: 'Mclaren';
    color: #FD6721;
}

@media only screen and (max-width: 768px) {
    .no-a {
        font-size: 5vw;
    }
}

.a-login {
    font-size: 28px;
}

.col-user {
    border-right: 2px solid #404040;
}

@media (max-width:768px) {
    .col-user {
        border-right: 0px;
    }
}

.text-foros {
    color: #333333;
}

.foro-text {
    font-size: 24px;
}

.nombre-foro {
    font-size: 29px;
}

@media (max-width: 1024px) {
    .nombre-foro {
        font-size: 2vw;
    }
}

@media (max-width:768px) {
    .foro-text {
        font-size: 3vw;
    }
    .nombre-foro {
        font-size: 4vw;
    }
}

.a-mail {
    font-size: 17px;
}

.no-a:hover {
    text-decoration: none;
    color: #CF4C0E;
    cursor: pointer;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

@media (max-width:768px) {
    .no-xs-padding {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
}

.pd10 {
    padding: 10px;
}

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.banner {
    background-image: url(../img/posible-banner-3-mod.jpg);
    height: 200px;
    width: 100%;
    /* Center and scale the image nicely */
}

.tittle-banner {
    position: relative;
    left: 32px;
    right: 17px;
    top: 80px;
}

.logo {
    height: 120px;
    width: 120px;
}

@media only screen and (max-width:768px) {
    .logo {
        margin-left: 30px;
    }
    .banner h1 {
        font-size: 7vw;
    }
}

.nav-item {
    width: 100%;
}

.navbar-style {
    background-color: #4A86E8;
}

.navbar-a {
    color: #333333;
    font-family: 'Mclaren';
    font-size: 28px;
}

.navbar-a:hover {
    background-color: #3662A9;
    color: #333333;
}

@media (max-width:768px) {
    .acerca-de-pagina {
        font-size: 6vw;
    }
}

.footer {
    background-color: #022F3D;
    padding-top: 15px;
}

.cc-logo {
    height: 30px;
    width: 30px;
}

.footer-text {
    color: #FD6721;
    font-size: 17px;
    padding-right: 10px;
}

@media (max-width:768px) {
    .footer-text {
        font-size: 4vw;
    }
}

.rd-logo {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.gm-logo {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.login_icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border: 1px solid #404040;
    border-radius: 50%;
}

.game-info-size {
    font-size: 21px;
}

.game-info {
    color: #FD6721;
}

.noticias_body {
    background-color: #043565;
}

@media (max-width: 768px) {
    .noticias_body {
        padding: 7px;
    }
}

.tam_noticias {
    width: 100%px;
    border: 1px solid #000000;
}

.text_noti {
    font-size: 30px;
    color: #FFFFFF;
}

@media (max-width: 768px) {
    .text_noti {
        font-size: 6vw;
    }
}

.img_not {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #000000;
}

.img_not:hover {
    border: 2px solid #FD6721;
}

.tam_note {
    width: 100%;
}

.margin_col {
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
}

.div_noticias {
    width: 602px;
    height: 513px;
}

@media only screen and (max-width: 768px) {
    .div_noticias {
        width: 90vw;
        height: 90vw;
        padding: 0px;
    }
}

.div_note {
    width: 474px
}

@media (max-width: 768px) {
    .div_note {
        width: 90vw;
        padding: 0px;
    }
}

.note {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.note:hover {
    background-color: #104557;
}

.note_text {
    color: #333333;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.note_text:hover {
    color: #FFFFFF;
}

.note-top {
    margin-top: 5px;
}

.row_not {
    margin-bottom: 30px;
}

.game-image {
    height: 377px;
    width: 271px;
}

.game-image:hover {
    border: 2px solid #FD6721;
}

.trofeo {
    width: 1022px;
    border: 1px solid #666666;
    color: #333333;
}

@media (min-width:768px) {
    .trofeo {
        height: 104px;
    }
}

.trofeo-ico {
    margin: 10px;
    background-color: white;
    width: 84px;
    height: 84px;
}

@media (max-width:900px) {
    .trofeo-ico {
        display: none;
    }
}

.trofeo-titulo {
    padding: 10px;
    border-right: 3px solid #404040;
    font-size: 19px;
}

@media (max-width:768px) {
    .trofeo-titulo {
        font-size: 5vw;
        border-right: 0px;
    }
    .trofeo-titulo p {
        text-align: left;
    }
}

.trofeo-descripcion {
    font-size: 19px;
}

@media (max-width:768px) {
    .trofeo-descripcion {
        display: none;
    }
}

.trofeo-platino {
    background-color: #4DC2DB;
}

.trofeo-bronce {
    background-color: #C97B47;
}

.trofeo-plata {
    background-color: #CCCCCC;
}

.trofeo-oro {
    background-color: #EFB810;
}

.div_body {
    width: 1123px;
}

.row_bodytext {
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.form-label {
    color: #FD6721;
    font-size: 29px;
}

.titulo-analisis {
    margin-top: 30px;
    margin-bottom: 30px;
}

.body-analisis {
    background-color: #104557;
    height: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.footer-analisis {
    margin-top: 50px;
}

.img-analisis {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 10px;
}

@media (max-width:768px) {
    .img-analisis {
        display: none;
        /* width: 7rem;
        height: 7rem; */
    }
}

.link-container {
    border-bottom: 3px solid #FFFFFF;
}

@media (max-width:768px) {
    .link-container {
        border-bottom: 0px;
    }
}

.linktext-analisis {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

@media (max-width:768px) {
    .linktext-analisis {
        font-size: 3.5vw;
        padding: 15px 7px;
        margin: 0px;
        text-align: center;
    }
}

.pagina-analisis {
    font-size: 16px;
    color: #333333;
}

@media (max-width: 768px) {
    .pagina-analisis {
        font-size: 4vw;
    }
}

.box-analisis {
    background-color: #6ACA25;
    margin-top: 10px;
    width: 142px;
    height: 23px;
}

@media (max-width:768px) {
    .box-analisis {
        font-size: 5vw;
        width: 7rem;
        height: 2rem;
    }
}

.valoraciones {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media (max-width:768px) {
    .valoraciones {
        margin: 0px;
    }
}

.valoraciones-analisis {
    font-size: 24px;
}

@media (max-width: 768px) {
    .valoraciones-analisis {
        font-size: 5vw;
    }
    .hide-analisis-valorations {
        display: none;
    }
}

.valoracionesp-analisis {
    color: #55CF56;
}

.valoracionesn-analisis {
    color: #E82611;
}

.hide-object {
    display: none;
}

.enlace-form {
    color: #FD6721;
    text-decoration: underline;
}

.enlace-form:hover {
    color: #CF4C0E;
}

.register-icon {
    border: 1px solid black;
    padding: 5px;
    background: rgba(71, 71, 71, 0.3);
    height: 80px;
    width: 80px;
    margin: 15px;
}

.foro {
    background-color: #D9D9D9;
    border: 1px solid #404040;
    margin-left: 30px;
    margin-right: 30px;
}

.icon-foro {
    width: 55px;
    height: 55px;
    border: 1px solid #404040;
    border-radius: 50%;
    margin-left: 40px;
}

@media (max-width:768px) {
    .icon-foro {
        width: 25vw;
        height: 25vw;
    }
}

.titulo-creador {
    margin-top: 33px;
}

@media (max-width:768px) {
    .titulo-creador {
        /* margin: 10px; */
        margin-top: 10px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .titulo-creador {
        font-size: 2vw;
    }
}

.cita-comentario {
    font-size: 14px;
    font-style: italic;
    color: #333333;
    padding: 10px;
}

.button {
    background-color: #FD6721;
    color: #ffffff;
    /* width: 30x;
    height: 30px; */
    margin-top: 15px;
    margin-left: 15px;
    font-size: 10px;
}

.section-title {
    color: black;
}

.how_many_trophies {
    margin-left: 10px;
    width: 185px;
}

.color {
    color: #FD6721;
}

.font-title {
    font-size: 27px;
}

.font-informacion {
    font-size: 19px;
}

.background-analisis {
    margin-top: 20px;
    background-color: #022F3D;
    color: #FFFFFF;
    font-size: 19px
}

.info_gen {
    font-size: 24px;
    color: #333333;
    border-bottom: 2px solid #404040;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.body_infogen {
    font-size: 24px;
    color: #333333;
    margin-left: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.trofeo-cuestionario {
    width: 37px;
    height: 37px;
    border: 0;
}

.texto-datos-iniciales-guia {
    font-size: 24px;
    color: #333333;
    width: 330px;
}

.new-comment p {
    color: #FD6721;
    font-size: 16px;
    cursor: pointer;
}

.new-comment p:hover {
    color: #CF4C0E;
}