h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
label {
    font-family: 'McLaren';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #FD6721;
}

h1 {
    font-size: 70px;
}

body {
    background: #043565;
}

.invalid-form {
    box-shadow: 0 0 5px 1px red;
    background-color: rgba(255, 0, 0, 0.1);
}

.invalid-form:hover {
    box-shadow: 0 0 5px 1px red;
}

.invalid-form:focus {
    outline: none;
}

.valid-form {
    box-shadow: 0 0 5px 1px green;
    background-color: rgba(0, 255, 0, 0.1);
}

.valid-form:hover {
    box-shadow: 0 0 5px 1px green;
}

.valid-form:focus {
    outline: none;
}

#background-page {
    background: white;
    width: 1200px;
}

#login-page {
    background: white;
    width: 613px;
    height: 771px;
    margin-top: 70px;
    margin-bottom: 70px;
}

#signin-page {
    background: white;
    width: 600px;
    height: 1054px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.no-a {
    font-size: 28px;
    font-family: 'Mclaren';
    color: #FD6721;
}

.a-login {
    font-size: 28px;
}

.a-mail {
    font-size: 17px;
}

.no-a:hover {
    text-decoration: none;
    color: #CF4C0E;
    cursor: pointer;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
}

.pd10 {
    padding: 10px;
}

.col,
[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.banner {
    background-image: url(../img/posible-banner-3-mod.jpg);
    height: 200px;
    width: 100%;
    /* Center and scale the image nicely */
}

.tittle-banner {
    position: relative;
    left: 32px;
    right: 17px;
    top: 80px;
}

.logo {
    height: 120px;
    width: 120px;
}

.navbar-style {
    background-color: #4A86E8;
}

.navbar-a {
    color: #333333;
    font-family: 'Mclaren';
    font-size: 28px;
}

.navbar-a:hover {
    background-color: #3662A9;
    color: #333333;
}

.footer {
    background-color: #022F3D;
    padding-top: 15px;
}

.cc-logo {
    height: 30px;
    width: 30px;
}

.footer-text {
    color: #FD6721;
    font-size: 17px;
    padding-right: 10px;
}

.rd-logo {
    height: 40px;
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
}

.gm-logo {
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.login_icon {
    height: 50px;
    width: 50px;
    margin-right: 5px;
    border: 1px solid #404040;
    border-radius: 50%;
}

.game-info-size {
    font-size: 21px;
}

.game-info {
    color: #FD6721;
}

.noticias_body {
    background-color: #043565;
}

.tam_noticias {
    width: 100%px;
    border: 1px solid #000000;
}

.text_noti {
    font-size: 30px;
    color: #FFFFFF;
}

.img_not {
    width: 100%;
    margin-top: 5px;
    border: 1px solid #000000;
}

.img_not:hover {
    border: 2px solid #FD6721;
}

.tam_note {
    width: 100%;
}

.margin_col {
    margin-left: 40px;
    margin-top: 40px;
    margin-right: 20px;
}

.div_noticias {
    width: 602px;
    height: 513px;
}

.div_note {
    width: 474px
}

.note {
    background-color: #FFFFFF;
    border: 1px solid #000000;
}

.note:hover {
    background-color: #104557;
}

.note_text {
    color: #333333;
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.note_text:hover {
    color: #FFFFFF;
}

.note-top {
    margin-top: 5px;
}

.row_not {
    margin-bottom: 30px;
}

.game-image {
    height: 377px;
    width: 271px;
}

.game-image:hover {
    border: 2px solid #FD6721;
}

.trofeo {
    height: 104px;
    width: 1022px;
    border: 1px solid #666666;
    color: #333333;
}

.trofeo-ico {
    margin: 10px;
    background-color: white;
    width: 84px;
    height: 84px;
}

.trofeo-titulo {
    padding: 10px;
    border-right: 3px solid #404040;
    font-size: 19px;
}

.trofeo-descripcion {
    font-size: 19px;
}

.trofeo-platino {
    background-color: #4DC2DB;
}

.trofeo-bronce {
    background-color: #C97B47;
}

.trofeo-plata {
    background-color: #CCCCCC;
}

.trofeo-oro {
    background-color: #EFB810;
}

.div_body {
    width: 1123px;
}

.row_bodytext {
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.form-label {
    color: #FD6721;
    font-size: 29px;
}

.titulo-analisis {
    margin-top: 30px;
    margin-bottom: 30px;
}

.body-analisis {
    background-color: #104557;
    height: 190px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.footer-analisis {
    margin-top: 50px;
}

.img-analisis {
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-right: 10px;
}

.link-container {
    border-bottom: 3px solid #FFFFFF;
}

.linktext-analisis {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.pagina-analisis {
    font-size: 16px;
    color: #333333;
}

.box-analisis {
    background-color: #6ACA25;
    margin-top: 10px;
    width: 142px;
    height: 23px;
}

.valoraciones {
    margin-top: 30px;
    margin-bottom: 30px;
}

.valoraciones-analisis {
    font-size: 24px;
}

.valoracionesp-analisis {
    color: #55CF56;
}

.valoracionesn-analisis {
    color: #E82611;
}

.hide-object {
    display: none;
}

.enlace-form {
    color: #FD6721;
    text-decoration: underline;
}

.enlace-form:hover {
    color: #CF4C0E;
}

.register-icon {
    border: 1px solid black;
    padding: 5px;
    background: rgba(71, 71, 71, 0.3);
    height: 80px;
    width: 80px;
    margin: 15px;
}

.foro {
    background-color: #D9D9D9;
    border: 1px solid #404040;
    margin-left: 30px;
    margin-right: 30px;
}

.icon-foro {
    width: 109px;
    height: 109px;
    border: 1px solid #404040;
    border-radius: 50%;
}

.cita-comentario {
    font-size: 19px;
    font-style: italic;
    color: #333333;
    padding: 10px;
}